* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif ;
}

header {
    text-align: right;
    margin-right: 45px;
    margin-top: 30px;


}

.links {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-right: 45px;
    color: #5D5D7D;
    display: inline-block;
    cursor: pointer;

}
.links:nth-child(2){
    opacity: 40%;
}

.lateral {
    background-color: #5D5D7D;
    display: inline-block;
    height: 100vh;
    width :30vw;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 16%;
}

.logo-image {
    width: 455px;
    height: 561px;
    opacity: 1;
    display: grid;
   left: 1170px;
   top: 180px;
    position: absolute;
}

section {
    display: inline-block;
    margin-top: 270px;
    margin-left: 300px;
    color: #5D5D7D;
    

}
h1 {
    width:450px;
    font-size: 70px;
     font-weight: 400;
}
p {
    width: 550px;
    font-weight: 400;
    font-size: 28px;
    opacity: 60%;
}

button {
    background-color: #9499EA;
    width: 269px;
    height: 62px;
    opacity: 1;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    border: none;
    border-radius: 35px;
    color: #FFFFFF;
    cursor: pointer;

    


}

@media screen and (max-width: 900px){

section{
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
}

.lateral{
    display: block;
    height: auto;
    width: 100%;
    position: static;


}

.logo-image{
    position: static;
    width: 90%;


}

header {
    display: none;
}

h1 {
    font-size: 36px;
    line-height: 52px;
    width: auto;
    margin: 58px 50px 0 50px;
    text-align: center;
}

p{
    margin: 15px 40px;
    width: auto;
}

button {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

}